/* TODO: add CSS rules for TopMenu.jsx */

#top-menu {
    height: 50px;
}

#top-menu-dropdown-language, #top-menu-logout {
    margin-left: 0 !important;
    margin-right: 10px;
}

#top-menu-logout {
    margin-right: 0;
}

#top-menu-dropdown-language-unauthenticated {
    margin-right: 100px;
}

#dropdown-language > div.text {
    vertical-align: -webkit-baseline-middle;
}
