:root {
    /* Default placeholder colors, which should be replaced from handleColorPalettes() in colourPalettes.js on index mount */
    /*--success-colour: 'eval("LaMaSColours.success")';*/
    --LAMAS-LIGHT-BLUE-COLOUR: #28a52e;
    --LAMAS-BLUE-COLOUR: #28a52e;
    --LAMAS-PINK-COLOUR: #28a52e;

    --LAMAS-PRIMARY-COLOUR: #28a52e;
    --LAMAS-DOMINANT-COLOUR: #28a52e;
    --LAMAS-PUBLIC-LECTURE-STUDENT-COLOUR: #28a52e;
    --LAMAS-PUBLIC-LECTURE-ACTIVE-STUDENT-COLOUR: #28a52e;
    --LAMAS-BACKGROUND-PUBLIC-LECTURE-STUDENT-COLOUR: #28a52e;
    --LAMAS-PUBLIC-LECTURE-COLOUR: #28a52e;
    --LAMAS-PUBLIC-LECTURE-ACTIVE-COLOUR: #28a52e;
    --LAMAS-BACKGROUND-PUBLIC-LECTURE-COLOUR: #28a52e;
    --LAMAS-UNPUBLIC-LECTURE-COLOUR: #28a52e;
    --LAMAS-UNPUBLIC-LECTURE-ACTIVE-COLOUR: #28a52e;
    --LAMAS-BACKGROUND-UNPUBLIC-LECTURE-COLOUR: #28a52e;

    --LAMAS-SUCCESS-COLOUR: #28a52e;
    --LAMAS-DANGER-COLOUR: #28a52e;
}
